<h2 class="pop_title">授权信息</h2>
<div class="pop_cont">
<div class="warrant">
	<h3 class="version_num"><span>版本号：{{data.license_data.Version}}</span></h3>
	<p><img src="../web/images/login/icrmlogo.png" width="120"></p>
	<ul class="info">
		<li>授权于 {{data.license_data.CompanyName}}</li>
		<li>授权号：{{data.license_data.licenNo}}</li>
		<li>最大使用人数：{{data.license_data.ICRMUserNum}}人</li>
		<li>{{data.license_data.ICRMPRODUCT == true ? '已激活' : '未激活'}}</li>
	</ul>
	<p><img src="../web/images/login/baison_logo_blue.png" width="220"></p>
	<p>COPYRIGHT @2016 ALL RIGHTS RESERVED</p>
</div>
</div>