<h3>
    {{data.title}}
    <p class="pull-right">
        <!--<div class="input-group">
            <input type="text" class="form-control col-sm-4" placeholder="快速查询">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">查找</button>
            </span>
        </div>-->
        <button type="button" class="btn btn-info ">新增</button>
        <button type="button" class="btn btn-info ">导出</button>
        <button type="button" class="btn btn-info ">刷新</button>
    </p>
</h3>

<hr>