<!--<div class="list-group">
    <a href="#" class="list-group-item active">+ 顾客资料</a>
    <a href="#/dashboard" class="list-group-item">顾客档案<span class="badge">14</span></a>
    <a href="#/dashboard" class="list-group-item">顾客档案<span class="badge">14</span></a>
    <a href="#/dashboard" class="list-group-item">顾客档案<span class="badge">14</span></a>
</div>-->

<div class="panel panel-default">
    <div class="list-group" ng-repeat="m in sub_menu track by $index">
        <div class="list-group-item active" ng-click="show_submenu($index);" ng-init="i=$index;isShow[i]=true"><span>{{isShow[i]?'-':'+'}}</span> {{m.title}}</div>
        <a ng-href="#{{s.url}}" class="list-group-item" ng-class="s.name==subMenu?'list-group-item-success':''" ng-repeat="s in m.list" ng-show="isShow[i]">{{s.title}}</a>
    </div>
</div>