<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ngExpress</a>
    </div>
    
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" >
        <li ng-repeat="m in navs | orderBy:'position':false" class="{{nav==m.name?'active':''}}" ><a ng-href="{{m.url}}">{{m.title}}</a></li>
      </ul>
      
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">快速查找</button>
      </form>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Exit</a></li>
      </ul>
    </div>
    
  </div>
</nav>